/* ------------------------
Fonts
--------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;1,200&display=swap");

/* -----------------------
Global Settings
--------------------------*/
:root {
  --main-color: #020202;
  --neonOrange: #ffc371;
  --neonBlue: #5cf8c7;
  --color2: #f91055;
  --color1: #ff5f6d;
  --color4: #f71054;
  --white-alpha-25: rgba(255, 255, 255, 0.25);
  --white-alpha-40: rgba(255, 255, 255, 0.4);
  --backdrop-filter-blur: backdrop-filter: blur(5px);
  --backdrop-filter-blur-max: backdrop-filter: blur(10px);
  /* padding: 10vh 0px; */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  
  /* overflow-y: hidden; */
  
}



body {
  min-height: 100vh;
  background-color: var(--main-color);
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: aliceblue;
  line-height: 1.5;
  /* overflow-x: hidden; */
  -webkit-tap-highlight-color: transparent;
}


a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.scroll {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}

section {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    padding: 20px;
    /* margin: 0 4em 0 4em; */
    width: 91%;
    /* scroll-snap-align: start; */
    
    
}



main {
  /* max-width: 1200px; */
  /* margin: auto; */
  /* padding-top: 15vh; */
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
    align-items: center;
}

.container {
  
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
position: inherit;
width: 100%;
height: 76vh;
top: 53vh;
left: 50%;
background: rgba(29, 29, 29, 0.3);
transform: translate(-50%, -50%);
box-shadow: 0 15px 30px rgb(0 0 0 / 10%);
border-radius: 20px;
backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.25);
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
padding: 40px;
/* padding-left: 110px;*/
}


 

.inner {
    position: absolute;
            /* height: 100vh; */
            width: 100%;
            /* left: 0px; */
            z-index: -1;
}

/* 
.row {
  display: flex;
  flex-wrap: wrap;
}

.align-item-center {
  align-items: center;
}
*/

#blobs-mobile {
    display: none;
  }
  
  #blobs-mobile2 {
    display: none;
  } 




/*---------------------
 Nav 
 -----------------------*/
 nav {
    position: fixed;
    top: 20px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    z-index: 99;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Nunito", sans-serif;
  
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 4em 0 4em;
  }
  
  .logo {
    color: #f6f6f6;
    text-transform: uppercase;
    /* letter-spacing: 5px; */
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .nav-links li {
    list-style: none;
    margin: 0 10px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-weight: 500;
    color: #f6f6f6;
    padding: 8px 15px;
    border-radius: 25px;
    letter-spacing: 3px;
    font-size: 14px;
  }
  
  .nav-links a:hover {
    /* background: #fff; */
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 30px;
    background: transparent;
    box-shadow: 5px 5px 9px #19191b, -5px -5px 9px #3d3f43;
  }
  
  .burger {
    display: none;
    cursor: pointer;
  }
  
  .burger > span {
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    background-color: black;
  }
  
  .burger > span:not(:last-child) {
    margin-bottom: 7px;
  }
  
  .burger,
  .burger > span {
    transition: all 0.4s ease-in-out;
  }
  
  .burger.toggle {
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }
  
  .burger.toggle > span:nth-child(2) {
    width: 0;
  }
  
  .burger.toggle > span:nth-child(1),
  .burger.toggle > span:nth-child(3) {
    transition-delay: 0.4s;
  }
  
  .burger.toggle > span:nth-child(1) {
    transform: translateY(9px);
  }
  
  .burger.toggle > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
  }
/* --------------------
Button
-----------------------*/  
.btn {
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    margin: 20px 20px 0px 20px;
    /* border-radius: 30px; */
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
  
    border-radius: 30px;
    background: transparent;
    box-shadow: 5px 5px 9px #19191b, -5px -5px 9px #3d3f43;
} 



.btn:hover {
    border-radius: 30px;
    background: transparent;
    box-shadow: inset 5px 5px 9px #19191b, inset -5px -5px 9px #3d3f43;
}

/*----------------------
Home Section
------------------------*/

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}

.home-text p {
  font-size: 18px;
  text-align: center;
}

.home-text h1 {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
}

.home-text h2 {
  font-size: 20px;
  text-transform: capitalize;
}

.home-img .img-box {
  max-width: 360px;
  background-color: var(--white-alpha-25);
  border-radius: 50%;
  border: 8px solid var(--white-alpha-40);
  margin: auto;
}

.home-img .img-box img {
  width: 100%;
  border-radius: 50%;
}

/*----------------------
About Section
------------------------*/
#about .inner {
    width: 100vw;
    z-index: -99;
}

#about-canvas{
    background: url("/assets/svg/Interstellar3.svg");
    
}

.bg-text {
    display: flex;
    width: 100%;
    height: 100vh;
    align-content: space-between;
    flex-direction: column;
  }
  
  .bg-icon {
    display: none;
  }
  
  .l1 {
    transform: translate(15em, 15rem) scale(18);
    width: fit-content;
    z-index: -5;
    color: #ef652a;
  }
  .l2 {
    transform: translate(49em, 4rem) scale(18);
    width: fit-content;
    z-index: -1;
    color: #1c88c7;
  }
  
  .l3 {
    transform: translate(26em, 31rem) scale(18);
    width: fit-content;
    z-index: -1;
    color: #8cc84b;
  }
  
  .l4 {
    transform: translate(43em, 18rem) scale(21);
    width: fit-content;
    z-index: -1;
    color: #00d8ff;
  }
  
  .l5 {
    transform: translate(36em, 28rem) scale(15);
    width: fit-content;
    z-index: -6;
    color: #f0db4f;
  }
  
  .l6 {
    transform: translate(18em, 9rem) scale(11);
    width: fit-content;
    z-index: -6;
    /* text-shadow: 0px 0px 21px rgba(203, 56, 55, 0.4); */
    /* -webkit-text-stroke: 1px rgba(203, 56, 55); */
    color: rgba(203, 56, 55);
  }
  
  .language {
    display: none;
  }


/*----------------------
Work Section
------------------------*/
#work .container{
    height: 176vh;
    top: 103vh;
  }

  #work{
      min-height: 200vh;
  }

  
  #work .inner {
    left: -100px;
    z-index: -10;
    width: auto;
}

/* #work .canvas-mobile{
    display: none;
} */

/*----------------------
Contact Section
------------------------*/

#contact .inner {
    width: 100vw;
    top: auto;
    bottom: 0;
}
#contact .inner svg {
    height: 100%;
    width: 100%;

}

/* .st0 {
    opacity: 0.4;
    fill:url(#grad);
    stroke: #1a001a00;
    stroke-width:0;
}

.st1 {
    opacity: 0.4;
    fill:url(#grad2);
    stroke: #ca21ca00;
    stroke-width:0;
}

.st2 {
    opacity: 0.4;
    fill:url(#grad);
    stroke: #18d4f500;
    stroke-width:0;
} */

/* .w4 {animation:anim4 10s infinite forwards;
    animation-fill-mode: forwards;}
@keyframes anim4 {
    0%{d:path("M0 59L16 61.7C32 64.3 64 69.7 96 78.3C128 87 160 99 192 126.5C224 154 256 197 288 224C320 251 352 262 384 263.5C416 265 448 257 480 259C512 261 544 273 576 238.2C608 203.3 640 121.7 672 114.3C704 107 736 174 768 212C800 250 832 259 864 247.3C896 235.7 928 203.3 960 175.2C992 147 1024 123 1056 116.5C1088 110 1120 121 1152 135.8C1184 150.7 1216 169.3 1248 160.8C1280 152.3 1312 116.7 1344 115.2C1376 113.7 1408 146.3 1424 162.7L1440 179L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
    50%{d:path("M0 84L16 108.8C32 133.7 64 183.3 96 211.2C128 239 160 245 192 220C224 195 256 139 288 107.5C320 76 352 69 384 90.3C416 111.7 448 161.3 480 170.2C512 179 544 147 576 156C608 165 640 215 672 223.5C704 232 736 199 768 188.5C800 178 832 190 864 185.3C896 180.7 928 159.3 960 143.8C992 128.3 1024 118.7 1056 142.2C1088 165.7 1120 222.3 1152 249.8C1184 277.3 1216 275.7 1248 254.7C1280 233.7 1312 193.3 1344 185.2C1376 177 1408 201 1424 213L1440 225L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
    100%{d:path("M0 59L16 61.7C32 64.3 64 69.7 96 78.3C128 87 160 99 192 126.5C224 154 256 197 288 224C320 251 352 262 384 263.5C416 265 448 257 480 259C512 261 544 273 576 238.2C608 203.3 640 121.7 672 114.3C704 107 736 174 768 212C800 250 832 259 864 247.3C896 235.7 928 203.3 960 175.2C992 147 1024 123 1056 116.5C1088 110 1120 121 1152 135.8C1184 150.7 1216 169.3 1248 160.8C1280 152.3 1312 116.7 1344 115.2C1376 113.7 1408 146.3 1424 162.7L1440 179L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
}

.w3 {animation:anim3 10s infinite forwards;
    animation-fill-mode: forwards;}
@keyframes anim3 {
    0%{d:path("M0 84L16 108.8C32 133.7 64 183.3 96 211.2C128 239 160 245 192 220C224 195 256 139 288 107.5C320 76 352 69 384 90.3C416 111.7 448 161.3 480 170.2C512 179 544 147 576 156C608 165 640 215 672 223.5C704 232 736 199 768 188.5C800 178 832 190 864 185.3C896 180.7 928 159.3 960 143.8C992 128.3 1024 118.7 1056 142.2C1088 165.7 1120 222.3 1152 249.8C1184 277.3 1216 275.7 1248 254.7C1280 233.7 1312 193.3 1344 185.2C1376 177 1408 201 1424 213L1440 225L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
    50%{d:path("M0 98L16 124C32 150 64 202 96 228.2C128 254.3 160 254.7 192 235.5C224 216.3 256 177.7 288 163.2C320 148.7 352 158.3 384 153.8C416 149.3 448 130.7 480 147.8C512 165 544 218 576 236.2C608 254.3 640 237.7 672 234.7C704 231.7 736 242.3 768 244.2C800 246 832 239 864 215.7C896 192.3 928 152.7 960 161.8C992 171 1024 229 1056 219.7C1088 210.3 1120 133.7 1152 112.3C1184 91 1216 125 1248 146.7C1280 168.3 1312 177.7 1344 178.5C1376 179.3 1408 171.7 1424 167.8L1440 164L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
    100%{d:path("M0 84L16 108.8C32 133.7 64 183.3 96 211.2C128 239 160 245 192 220C224 195 256 139 288 107.5C320 76 352 69 384 90.3C416 111.7 448 161.3 480 170.2C512 179 544 147 576 156C608 165 640 215 672 223.5C704 232 736 199 768 188.5C800 178 832 190 864 185.3C896 180.7 928 159.3 960 143.8C992 128.3 1024 118.7 1056 142.2C1088 165.7 1120 222.3 1152 249.8C1184 277.3 1216 275.7 1248 254.7C1280 233.7 1312 193.3 1344 185.2C1376 177 1408 201 1424 213L1440 225L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
}

.w2 {animation:anim2 10s infinite forwards;
    animation-fill-mode: forwards;}
@keyframes anim2 {
    0%{d:path("M0 98L16 124C32 150 64 202 96 228.2C128 254.3 160 254.7 192 235.5C224 216.3 256 177.7 288 163.2C320 148.7 352 158.3 384 153.8C416 149.3 448 130.7 480 147.8C512 165 544 218 576 236.2C608 254.3 640 237.7 672 234.7C704 231.7 736 242.3 768 244.2C800 246 832 239 864 215.7C896 192.3 928 152.7 960 161.8C992 171 1024 229 1056 219.7C1088 210.3 1120 133.7 1152 112.3C1184 91 1216 125 1248 146.7C1280 168.3 1312 177.7 1344 178.5C1376 179.3 1408 171.7 1424 167.8L1440 164L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
    50%{d:path("M0 205L8.3 203.5C16.7 202 33.3 199 49.8 179.8C66.3 160.7 82.7 125.3 99.2 117C115.7 108.7 132.3 127.3 149 127.8C165.7 128.3 182.3 110.7 198.8 121.7C215.3 132.7 231.7 172.3 248.2 169.2C264.7 166 281.3 120 298 103.5C314.7 87 331.3 100 347.8 98.8C364.3 97.7 380.7 82.3 397.2 100.3C413.7 118.3 430.3 169.7 447 191.2C463.7 212.7 480.3 204.3 496.8 178.2C513.3 152 529.7 108 546.2 115.7C562.7 123.3 579.3 182.7 596 196.8C612.7 211 629.3 180 645.8 179.3C662.3 178.7 678.7 208.3 695.2 219.2C711.7 230 728.3 222 744.8 224C761.3 226 777.7 238 794.2 239.5C810.7 241 827.3 232 844 222C860.7 212 877.3 201 893.8 176.3C910.3 151.7 926.7 113.3 943.2 124.2C959.7 135 976.3 195 993 224.5C1009.7 254 1026.3 253 1042.8 220.5C1059.3 188 1075.7 124 1092.2 128.2C1108.7 132.3 1125.3 204.7 1142 213C1158.7 221.3 1175.3 165.7 1191.8 145.7C1208.3 125.7 1224.7 141.3 1241.2 130.8C1257.7 120.3 1274.3 83.7 1291 63.8C1307.7 44 1324.3 41 1340.8 41.7C1357.3 42.3 1373.7 46.7 1390.2 68.3C1406.7 90 1423.3 129 1431.7 148.5L1440 168L1440 321L1431.7 321C1423.3 321 1406.7 321 1390.2 321C1373.7 321 1357.3 321 1340.8 321C1324.3 321 1307.7 321 1291 321C1274.3 321 1257.7 321 1241.2 321C1224.7 321 1208.3 321 1191.8 321C1175.3 321 1158.7 321 1142 321C1125.3 321 1108.7 321 1092.2 321C1075.7 321 1059.3 321 1042.8 321C1026.3 321 1009.7 321 993 321C976.3 321 959.7 321 943.2 321C926.7 321 910.3 321 893.8 321C877.3 321 860.7 321 844 321C827.3 321 810.7 321 794.2 321C777.7 321 761.3 321 744.8 321C728.3 321 711.7 321 695.2 321C678.7 321 662.3 321 645.8 321C629.3 321 612.7 321 596 321C579.3 321 562.7 321 546.2 321C529.7 321 513.3 321 496.8 321C480.3 321 463.7 321 447 321C430.3 321 413.7 321 397.2 321C380.7 321 364.3 321 347.8 321C331.3 321 314.7 321 298 321C281.3 321 264.7 321 248.2 321C231.7 321 215.3 321 198.8 321C182.3 321 165.7 321 149 321C132.3 321 115.7 321 99.2 321C82.7 321 66.3 321 49.8 321C33.3 321 16.7 321 8.3 321L0 321Z"
        )}
    100%{d:path("M0 98L16 124C32 150 64 202 96 228.2C128 254.3 160 254.7 192 235.5C224 216.3 256 177.7 288 163.2C320 148.7 352 158.3 384 153.8C416 149.3 448 130.7 480 147.8C512 165 544 218 576 236.2C608 254.3 640 237.7 672 234.7C704 231.7 736 242.3 768 244.2C800 246 832 239 864 215.7C896 192.3 928 152.7 960 161.8C992 171 1024 229 1056 219.7C1088 210.3 1120 133.7 1152 112.3C1184 91 1216 125 1248 146.7C1280 168.3 1312 177.7 1344 178.5C1376 179.3 1408 171.7 1424 167.8L1440 164L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
}

.w1 {animation:anim1 10s infinite forwards;
    animation-fill-mode: forwards;}
@keyframes anim1 {
    0%{d:path("M0 205L8.3 203.5C16.7 202 33.3 199 49.8 179.8C66.3 160.7 82.7 125.3 99.2 117C115.7 108.7 132.3 127.3 149 127.8C165.7 128.3 182.3 110.7 198.8 121.7C215.3 132.7 231.7 172.3 248.2 169.2C264.7 166 281.3 120 298 103.5C314.7 87 331.3 100 347.8 98.8C364.3 97.7 380.7 82.3 397.2 100.3C413.7 118.3 430.3 169.7 447 191.2C463.7 212.7 480.3 204.3 496.8 178.2C513.3 152 529.7 108 546.2 115.7C562.7 123.3 579.3 182.7 596 196.8C612.7 211 629.3 180 645.8 179.3C662.3 178.7 678.7 208.3 695.2 219.2C711.7 230 728.3 222 744.8 224C761.3 226 777.7 238 794.2 239.5C810.7 241 827.3 232 844 222C860.7 212 877.3 201 893.8 176.3C910.3 151.7 926.7 113.3 943.2 124.2C959.7 135 976.3 195 993 224.5C1009.7 254 1026.3 253 1042.8 220.5C1059.3 188 1075.7 124 1092.2 128.2C1108.7 132.3 1125.3 204.7 1142 213C1158.7 221.3 1175.3 165.7 1191.8 145.7C1208.3 125.7 1224.7 141.3 1241.2 130.8C1257.7 120.3 1274.3 83.7 1291 63.8C1307.7 44 1324.3 41 1340.8 41.7C1357.3 42.3 1373.7 46.7 1390.2 68.3C1406.7 90 1423.3 129 1431.7 148.5L1440 168L1440 321L1431.7 321C1423.3 321 1406.7 321 1390.2 321C1373.7 321 1357.3 321 1340.8 321C1324.3 321 1307.7 321 1291 321C1274.3 321 1257.7 321 1241.2 321C1224.7 321 1208.3 321 1191.8 321C1175.3 321 1158.7 321 1142 321C1125.3 321 1108.7 321 1092.2 321C1075.7 321 1059.3 321 1042.8 321C1026.3 321 1009.7 321 993 321C976.3 321 959.7 321 943.2 321C926.7 321 910.3 321 893.8 321C877.3 321 860.7 321 844 321C827.3 321 810.7 321 794.2 321C777.7 321 761.3 321 744.8 321C728.3 321 711.7 321 695.2 321C678.7 321 662.3 321 645.8 321C629.3 321 612.7 321 596 321C579.3 321 562.7 321 546.2 321C529.7 321 513.3 321 496.8 321C480.3 321 463.7 321 447 321C430.3 321 413.7 321 397.2 321C380.7 321 364.3 321 347.8 321C331.3 321 314.7 321 298 321C281.3 321 264.7 321 248.2 321C231.7 321 215.3 321 198.8 321C182.3 321 165.7 321 149 321C132.3 321 115.7 321 99.2 321C82.7 321 66.3 321 49.8 321C33.3 321 16.7 321 8.3 321L0 321Z"
        )}
    50%{d:path("M0 256L8.3 230C16.7 204 33.3 152 49.8 140C66.3 128 82.7 156 99.2 145.8C115.7 135.7 132.3 87.3 149 83.2C165.7 79 182.3 119 198.8 151C215.3 183 231.7 207 248.2 219.7C264.7 232.3 281.3 233.7 298 235.7C314.7 237.7 331.3 240.3 347.8 208.8C364.3 177.3 380.7 111.7 397.2 93.3C413.7 75 430.3 104 447 131.5C463.7 159 480.3 185 496.8 180.8C513.3 176.7 529.7 142.3 546.2 119.2C562.7 96 579.3 84 596 98.2C612.7 112.3 629.3 152.7 645.8 147C662.3 141.3 678.7 89.7 695.2 72.8C711.7 56 728.3 74 744.8 82.5C761.3 91 777.7 90 794.2 90.2C810.7 90.3 827.3 91.7 844 99.7C860.7 107.7 877.3 122.3 893.8 147C910.3 171.7 926.7 206.3 943.2 208C959.7 209.7 976.3 178.3 993 148.7C1009.7 119 1026.3 91 1042.8 95.5C1059.3 100 1075.7 137 1092.2 166.3C1108.7 195.7 1125.3 217.3 1142 228C1158.7 238.7 1175.3 238.3 1191.8 215.3C1208.3 192.3 1224.7 146.7 1241.2 142.2C1257.7 137.7 1274.3 174.3 1291 200.8C1307.7 227.3 1324.3 243.7 1340.8 233.2C1357.3 222.7 1373.7 185.3 1390.2 170.3C1406.7 155.3 1423.3 162.7 1431.7 166.3L1440 170L1440 321L1431.7 321C1423.3 321 1406.7 321 1390.2 321C1373.7 321 1357.3 321 1340.8 321C1324.3 321 1307.7 321 1291 321C1274.3 321 1257.7 321 1241.2 321C1224.7 321 1208.3 321 1191.8 321C1175.3 321 1158.7 321 1142 321C1125.3 321 1108.7 321 1092.2 321C1075.7 321 1059.3 321 1042.8 321C1026.3 321 1009.7 321 993 321C976.3 321 959.7 321 943.2 321C926.7 321 910.3 321 893.8 321C877.3 321 860.7 321 844 321C827.3 321 810.7 321 794.2 321C777.7 321 761.3 321 744.8 321C728.3 321 711.7 321 695.2 321C678.7 321 662.3 321 645.8 321C629.3 321 612.7 321 596 321C579.3 321 562.7 321 546.2 321C529.7 321 513.3 321 496.8 321C480.3 321 463.7 321 447 321C430.3 321 413.7 321 397.2 321C380.7 321 364.3 321 347.8 321C331.3 321 314.7 321 298 321C281.3 321 264.7 321 248.2 321C231.7 321 215.3 321 198.8 321C182.3 321 165.7 321 149 321C132.3 321 115.7 321 99.2 321C82.7 321 66.3 321 49.8 321C33.3 321 16.7 321 8.3 321L0 321Z"
        )}
    100%{d:path("M0 205L8.3 203.5C16.7 202 33.3 199 49.8 179.8C66.3 160.7 82.7 125.3 99.2 117C115.7 108.7 132.3 127.3 149 127.8C165.7 128.3 182.3 110.7 198.8 121.7C215.3 132.7 231.7 172.3 248.2 169.2C264.7 166 281.3 120 298 103.5C314.7 87 331.3 100 347.8 98.8C364.3 97.7 380.7 82.3 397.2 100.3C413.7 118.3 430.3 169.7 447 191.2C463.7 212.7 480.3 204.3 496.8 178.2C513.3 152 529.7 108 546.2 115.7C562.7 123.3 579.3 182.7 596 196.8C612.7 211 629.3 180 645.8 179.3C662.3 178.7 678.7 208.3 695.2 219.2C711.7 230 728.3 222 744.8 224C761.3 226 777.7 238 794.2 239.5C810.7 241 827.3 232 844 222C860.7 212 877.3 201 893.8 176.3C910.3 151.7 926.7 113.3 943.2 124.2C959.7 135 976.3 195 993 224.5C1009.7 254 1026.3 253 1042.8 220.5C1059.3 188 1075.7 124 1092.2 128.2C1108.7 132.3 1125.3 204.7 1142 213C1158.7 221.3 1175.3 165.7 1191.8 145.7C1208.3 125.7 1224.7 141.3 1241.2 130.8C1257.7 120.3 1274.3 83.7 1291 63.8C1307.7 44 1324.3 41 1340.8 41.7C1357.3 42.3 1373.7 46.7 1390.2 68.3C1406.7 90 1423.3 129 1431.7 148.5L1440 168L1440 321L1431.7 321C1423.3 321 1406.7 321 1390.2 321C1373.7 321 1357.3 321 1340.8 321C1324.3 321 1307.7 321 1291 321C1274.3 321 1257.7 321 1241.2 321C1224.7 321 1208.3 321 1191.8 321C1175.3 321 1158.7 321 1142 321C1125.3 321 1108.7 321 1092.2 321C1075.7 321 1059.3 321 1042.8 321C1026.3 321 1009.7 321 993 321C976.3 321 959.7 321 943.2 321C926.7 321 910.3 321 893.8 321C877.3 321 860.7 321 844 321C827.3 321 810.7 321 794.2 321C777.7 321 761.3 321 744.8 321C728.3 321 711.7 321 695.2 321C678.7 321 662.3 321 645.8 321C629.3 321 612.7 321 596 321C579.3 321 562.7 321 546.2 321C529.7 321 513.3 321 496.8 321C480.3 321 463.7 321 447 321C430.3 321 413.7 321 397.2 321C380.7 321 364.3 321 347.8 321C331.3 321 314.7 321 298 321C281.3 321 264.7 321 248.2 321C231.7 321 215.3 321 198.8 321C182.3 321 165.7 321 149 321C132.3 321 115.7 321 99.2 321C82.7 321 66.3 321 49.8 321C33.3 321 16.7 321 8.3 321L0 321Z"
        )}
}

.w0 {animation:anim0 10s infinite forwards;
    animation-fill-mode: forwards;}
@keyframes anim0 {
    0%{d:path("M0 256L8.3 230C16.7 204 33.3 152 49.8 140C66.3 128 82.7 156 99.2 145.8C115.7 135.7 132.3 87.3 149 83.2C165.7 79 182.3 119 198.8 151C215.3 183 231.7 207 248.2 219.7C264.7 232.3 281.3 233.7 298 235.7C314.7 237.7 331.3 240.3 347.8 208.8C364.3 177.3 380.7 111.7 397.2 93.3C413.7 75 430.3 104 447 131.5C463.7 159 480.3 185 496.8 180.8C513.3 176.7 529.7 142.3 546.2 119.2C562.7 96 579.3 84 596 98.2C612.7 112.3 629.3 152.7 645.8 147C662.3 141.3 678.7 89.7 695.2 72.8C711.7 56 728.3 74 744.8 82.5C761.3 91 777.7 90 794.2 90.2C810.7 90.3 827.3 91.7 844 99.7C860.7 107.7 877.3 122.3 893.8 147C910.3 171.7 926.7 206.3 943.2 208C959.7 209.7 976.3 178.3 993 148.7C1009.7 119 1026.3 91 1042.8 95.5C1059.3 100 1075.7 137 1092.2 166.3C1108.7 195.7 1125.3 217.3 1142 228C1158.7 238.7 1175.3 238.3 1191.8 215.3C1208.3 192.3 1224.7 146.7 1241.2 142.2C1257.7 137.7 1274.3 174.3 1291 200.8C1307.7 227.3 1324.3 243.7 1340.8 233.2C1357.3 222.7 1373.7 185.3 1390.2 170.3C1406.7 155.3 1423.3 162.7 1431.7 166.3L1440 170L1440 321L1431.7 321C1423.3 321 1406.7 321 1390.2 321C1373.7 321 1357.3 321 1340.8 321C1324.3 321 1307.7 321 1291 321C1274.3 321 1257.7 321 1241.2 321C1224.7 321 1208.3 321 1191.8 321C1175.3 321 1158.7 321 1142 321C1125.3 321 1108.7 321 1092.2 321C1075.7 321 1059.3 321 1042.8 321C1026.3 321 1009.7 321 993 321C976.3 321 959.7 321 943.2 321C926.7 321 910.3 321 893.8 321C877.3 321 860.7 321 844 321C827.3 321 810.7 321 794.2 321C777.7 321 761.3 321 744.8 321C728.3 321 711.7 321 695.2 321C678.7 321 662.3 321 645.8 321C629.3 321 612.7 321 596 321C579.3 321 562.7 321 546.2 321C529.7 321 513.3 321 496.8 321C480.3 321 463.7 321 447 321C430.3 321 413.7 321 397.2 321C380.7 321 364.3 321 347.8 321C331.3 321 314.7 321 298 321C281.3 321 264.7 321 248.2 321C231.7 321 215.3 321 198.8 321C182.3 321 165.7 321 149 321C132.3 321 115.7 321 99.2 321C82.7 321 66.3 321 49.8 321C33.3 321 16.7 321 8.3 321L0 321Z"
        )}
    50%{d:path("M0 59L16 61.7C32 64.3 64 69.7 96 78.3C128 87 160 99 192 126.5C224 154 256 197 288 224C320 251 352 262 384 263.5C416 265 448 257 480 259C512 261 544 273 576 238.2C608 203.3 640 121.7 672 114.3C704 107 736 174 768 212C800 250 832 259 864 247.3C896 235.7 928 203.3 960 175.2C992 147 1024 123 1056 116.5C1088 110 1120 121 1152 135.8C1184 150.7 1216 169.3 1248 160.8C1280 152.3 1312 116.7 1344 115.2C1376 113.7 1408 146.3 1424 162.7L1440 179L1440 321L1424 321C1408 321 1376 321 1344 321C1312 321 1280 321 1248 321C1216 321 1184 321 1152 321C1120 321 1088 321 1056 321C1024 321 992 321 960 321C928 321 896 321 864 321C832 321 800 321 768 321C736 321 704 321 672 321C640 321 608 321 576 321C544 321 512 321 480 321C448 321 416 321 384 321C352 321 320 321 288 321C256 321 224 321 192 321C160 321 128 321 96 321C64 321 32 321 16 321L0 321Z"
        )}
    100%{d:path("M0 256L8.3 230C16.7 204 33.3 152 49.8 140C66.3 128 82.7 156 99.2 145.8C115.7 135.7 132.3 87.3 149 83.2C165.7 79 182.3 119 198.8 151C215.3 183 231.7 207 248.2 219.7C264.7 232.3 281.3 233.7 298 235.7C314.7 237.7 331.3 240.3 347.8 208.8C364.3 177.3 380.7 111.7 397.2 93.3C413.7 75 430.3 104 447 131.5C463.7 159 480.3 185 496.8 180.8C513.3 176.7 529.7 142.3 546.2 119.2C562.7 96 579.3 84 596 98.2C612.7 112.3 629.3 152.7 645.8 147C662.3 141.3 678.7 89.7 695.2 72.8C711.7 56 728.3 74 744.8 82.5C761.3 91 777.7 90 794.2 90.2C810.7 90.3 827.3 91.7 844 99.7C860.7 107.7 877.3 122.3 893.8 147C910.3 171.7 926.7 206.3 943.2 208C959.7 209.7 976.3 178.3 993 148.7C1009.7 119 1026.3 91 1042.8 95.5C1059.3 100 1075.7 137 1092.2 166.3C1108.7 195.7 1125.3 217.3 1142 228C1158.7 238.7 1175.3 238.3 1191.8 215.3C1208.3 192.3 1224.7 146.7 1241.2 142.2C1257.7 137.7 1274.3 174.3 1291 200.8C1307.7 227.3 1324.3 243.7 1340.8 233.2C1357.3 222.7 1373.7 185.3 1390.2 170.3C1406.7 155.3 1423.3 162.7 1431.7 166.3L1440 170L1440 321L1431.7 321C1423.3 321 1406.7 321 1390.2 321C1373.7 321 1357.3 321 1340.8 321C1324.3 321 1307.7 321 1291 321C1274.3 321 1257.7 321 1241.2 321C1224.7 321 1208.3 321 1191.8 321C1175.3 321 1158.7 321 1142 321C1125.3 321 1108.7 321 1092.2 321C1075.7 321 1059.3 321 1042.8 321C1026.3 321 1009.7 321 993 321C976.3 321 959.7 321 943.2 321C926.7 321 910.3 321 893.8 321C877.3 321 860.7 321 844 321C827.3 321 810.7 321 794.2 321C777.7 321 761.3 321 744.8 321C728.3 321 711.7 321 695.2 321C678.7 321 662.3 321 645.8 321C629.3 321 612.7 321 596 321C579.3 321 562.7 321 546.2 321C529.7 321 513.3 321 496.8 321C480.3 321 463.7 321 447 321C430.3 321 413.7 321 397.2 321C380.7 321 364.3 321 347.8 321C331.3 321 314.7 321 298 321C281.3 321 264.7 321 248.2 321C231.7 321 215.3 321 198.8 321C182.3 321 165.7 321 149 321C132.3 321 115.7 321 99.2 321C82.7 321 66.3 321 49.8 321C33.3 321 16.7 321 8.3 321L0 321Z"
        )}
} */


/*----------------------
Media Queries
------------------------*/

@media screen and (max-width: 1024px) {
    
    nav{
        margin: 0
    }

    .nav-links {
      width: 60%;
    }
  
    .showcase {
      display: none;
    }
  
    .bg-text {
      display: none;
    }
  
    .bg-icon {
      display: flex;
      width: 100%;
      height: 100vh;
      align-content: space-between;
      flex-direction: column;
    }
  
    .i1 {
      /* transform: translate(8em, 13rem) scale(7); */
      transform: translate(9em, 14em) scale(4.5);
      width: 10%;
      z-index: -6;
    }
    .i2 {
      /* transform: translate(8em, 37rem) scale(14); */
      transform: translate(34em, 21em) scale(4.5);
      width: 10%;
      z-index: -5;
    }
    .i3 {
      transform: translate(18em, 35em) scale(6);
      width: 10%;
      z-index: -5;
    }
    .i4 {
      /* transform: translate(-13em, 22em); */
      width: 10%;
      z-index: -5;
      transform: translate(8em, 13em) scale(3.5);
    }
    .i5 {
      /* transform: translate(-2em, -36em); */
      width: 10%;
      z-index: -5;
      transform: translate(34em, 22em) scale(5.5);
    }
    .i6 {
      /* transform: translate(6em, -47em); */
      width: 10%;
      z-index: -5;
      transform: translate(10em, 38em) scale(12.5);
    }
  
    .language-icon {
      display: none;
    }

    /* #work .canvas-mobile{
        display: block;
    }
    #work .canvas{
        display: none;
    } */
}

  
  @media screen and (max-width: 600px) {
    /* .body {
      overflow-x: hidden;
    } */

    nav{
        margin: 0
    }
    .nav-links {
      position: absolute;
      right: -22px;
      height: 85vh;
      top: 10vh;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
      border-radius: 20px;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
    }
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
    }
  
    .showcase {
      display: none;
    }
  
    #blobs {
      display: none;
    }
    #blobs-mobile {
      display: block;
      transform: translate(-5%, -11%);
  
      position: relative;
      z-index: -1;
      overflow: visible;
    }
  
    #blobs-mobile2 {
      display: block;
      position: absolute;
      top: 0%;
      transform: translate(-45%, 45%);
      width: 62%;
      height: 90vh;
      z-index: -1;
      overflow: visible;
    }
  
    .bg-text {
      display: none;
    }
  
    .bg-icon {
      display: flex;
      width: 100%;
      height: 100vh;
      align-content: space-between;
      flex-direction: column;
    }
  
    .i1 {
      /* transform: translate(8em, 13rem) scale(7); */
      transform: translate(-1em, 4em);
      width: 50%;
      z-index: -6;
    }
    .i2 {
      /* transform: translate(8em, 37rem) scale(14); */
      transform: translate(7em, -1em);
      width: 70%;
      z-index: -5;
    }
    .i3 {
      transform: translate(-3em, -3em);
      width: 90%;
      z-index: -5;
    }
    .i4 {
      /* transform: translate(-13em, 22em); */
      width: 10%;
      z-index: -5;
      transform: translate(4em, 11em) scale(7.5);
    }
    .i5 {
      /* transform: translate(-2em, -36em); */
      width: 10%;
      z-index: -5;
      transform: translate(17em, 19em) scale(9.5);
    }
    .i6 {
      /* transform: translate(6em, -47em); */
      width: 10%;
      z-index: -5;
      transform: translate(4em, 34em) scale(13.5);
    }
  
    .language-icon {
      display: none;
    }

    .nav-active {
        left: -2px;
      
        transform: translateX(0%);
      }
      
      /* #work .canvas-mobile{
        display: unset;
      }
      #work .canvas{
        display: none;
    } */
  }
  
  



  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  @keyframes yourAnimation {
    0.0% {
      transform: scale(2.5) translate(0px, 0px) skew(0deg) rotate(0deg);
  
      transform-origin: center center;
    }
    49.8% {
      transform: scale(2.5) translate(0px, 0px) skew(0deg) rotate(360deg);
  
      transform-origin: center center;
    }
    99.5% {
      transform: scale(2.5) translate(0px, 0px) skew(0deg) rotate(-1deg);
  
      transform-origin: center center;
    }
  }
  






  /* -------------------------
  -------
  
  
  
  
  -----------------------------
  */

  #c {
    /* position: inherit; */
    height: 89vh;
    width: 100vw;
  }

